.dashboard-section {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
}

.dashboard-section h1,
.dashboard-section h2 {
    margin-bottom: 1rem;
    color: #2c3e50;
}

.dashboard-section form {
    background-color: #f6f6f6;
    box-shadow: none;
    padding: 5px 20px;
}

.dashboard-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.dashboard-section th,
.dashboard-section td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 2rem;
    width: 100%;
    margin: 2.5rem 0;
}

.dashboard-assign-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.75rem;
    background-color: #f6f6f6;
    box-shadow: none;
    width: fit-content;
}

/* Styled select fields */
.select-field {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f1f3f5;
    font-size: 1rem;
    color: #444;
}

/* Assign button */
.button--primary {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button--primary:hover {
    background-color: #0056b3;
}

/* Logout button */
.button--logout {
    background-color: #f96815;
    color: white;
    padding: 0.65rem 1.5rem;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.button--logout:hover {
    background-color: #dc8c3d;
}

.dashboard-body {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.button--compact {
    width: auto;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #f1f3f5;
    color: #444;
    border-radius: 6px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.button--compact:hover {
    background-color: #0056b3;
}

.order-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}
.menu-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
}

.menu-section h2 {
    margin-bottom: 0;
}

.menu-section h3 {
    margin-bottom: 0.5rem;
}

.menu-group {
    margin-bottom: 1.5rem;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    gap: 0.5rem;
    font-size: 1rem;
    background-color: #f9f9f9;
    white-space: nowrap;
    border-radius: 6px;
}

.menu-item input[type='checkbox'] {
    transform: scale(1.4);
    accent-color: #007bff;
    cursor: pointer;
    border-radius: 16px;
}
