.login-form {
    margin: 5rem auto;
    padding: 0.5rem 1rem;
}

.login-form form {
    width: 500px;
    padding: 1.5rem;
}
.login-form h2 {
    text-align: center;
}
.form-group {
    padding: 0.5rem 1.5rem;
}
