.menu-homepage {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1.5rem 5rem;
    text-align: center;
    width: 100%;
}

.back-link {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.25rem;
}

.back-button {
    background-color: #457f74;
    border-radius: 6px;
    color: #f1f3f5;
    display: inline-block;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.menu-category {
    margin: 2.5rem 0rem;
    text-align: left;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.menu-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 210px;
}

.menu-card h4 {
    font-size: 0.95rem;
    margin: 0 0 0.5rem;
}

.menu-card img {
    border-radius: 6px;
    height: 120px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    width: 100%;
}

.menu-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: 0.2s ease;
}

.price {
    color: #007bff;
    font-size: 0.8rem;
    font-weight: bold;
}

.description {
    color: #555;
    font-size: 0.9rem;
    margin: 0.25rem 0 0.5rem;
}
