body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button,
input[type='submit'] {
    width: 100%;
    padding: 0.7rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

.logout-button {
    display: block;
    width: 100px;
    box-shadow: none;
    background-color: #f6f6f6;
}

ul {
    margin: 0;
    padding: 0;
    color: red;
    list-style: none;
    font-size: 0.85rem;
}
