<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Order Up!</title>
        {% else %}
        <title>Welcome to Order Up!</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='public.css') }}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+DE+SAS:wght@100..400&display=swap');
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <!-- {% if not current_user.is_anonymous %}
            <form method="post" action="{{ url_for('session.logout') }}" class="logout-button">
                <button type="submit">Logout</button>
            </form>
        {% endif %} -->

        {% block content %}
        {% endblock %}
    </body>
</html>
