{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <h2>Sign In</h2>
    <form method="post" action="{{ url_for('.login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.employee_number.label }} {{ form.employee_number }}

            {% if form.employee_number.errors %}
            <ul>
                {% for error in form.employee_number.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password }}

            {% if form.employee_number.errors %}
            <ul>
                {% for error in form.employee_number.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group" style="margin-bottom: 2.5rem;">{{ form.submit(class="button--block") }}</div>
    </form>
</div>
{% endblock %}
